* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background: darkslategray;
    text-align: center;
    padding: 1rem;
    color: white;
}

.word-display {
    margin-top: 3rem;
    font-size: 80px;
    color: darkslategray;
}

.word-input-box {
    margin-top: 2rem;
}

.word-input {
    padding: 0.5rem;
    width: 300px;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.time, .score {
    font-size: 30px;
}

.button {
    width: 250px;
    height: 40px;
    background: darkslategray;
    color: white;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.loading {
    background: gray;
    cursor: not-allowed;
}